*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to left, aqua,rgb(179, 224, 224));
}
.container{
    width: 100%;
    height: 100vh;
}
.row{
    height: 20%;
    width: 100%;
    display: flex;
}
.element{
    width: 100px;
    height: 100px;
    background:linear-gradient(to right, aqua, rgb(179, 224, 224));
    border: 1px solid black;
}

#row1, #row5,#row3{
    display: flex;
    justify-content: space-between;
}
#row2, #row4{
    display: flex;
    justify-content: space-evenly;
}