body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.row{
    background-color: cyan;
    height: 20%;
    display: flex;
    align-items: center;
}
.cell{
    display: inline;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, rgb(37, 131, 131), rgb(20, 97, 168));
}